<!DOCTYPE html>
<html lang="ENG">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ULTI TV</title>
    <link rel="stylesheet" href="/style.css"/>
  </head>
  <body>
    <header class="sticky">
      <img class="logo" src="./media/commentarysource.png" alt="commentarysource logo">
      <ul class="menu-items">
        <li><a href="">Teams</a></li>
        <li><a href="">Surveys</a></li>
        <li><a href="">VMix</a></li>
        <li><a href="">Tournaments</a></li>
        <li><a href="">Admin</a></li>
      </ul>    
    </header>